In [1]:
import pandas as pd
from dateutil.parser import parse
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('../data/temixco.csv',index_col=0,parse_dates=True)
df.head(3)

                        Ib   Ig     To     RH     WS     WD         P
time
2018-01-01 00:00:00    NaN  NaN  18.70  36.34  1.422  316.0  87864.11
2018-01-01 00:10:00  0.002  0.0  18.95  35.29  1.008  283.7  87876.37
2018-01-01 00:20:00  0.170  0.0  18.94  35.43  1.565  326.0  87888.64

In [7]:
df.resample('D').agg(['mean','max','std'])

                    Ib                             Ig                     \
                  mean    max         std        mean    max         std
time
2018-01-01  221.831692  745.9  292.146624  196.896224  753.0  274.827111
2018-01-02  249.390757  803.0  312.282169  207.372653  774.8  285.234929
2018-01-03  218.034125  747.1  293.158583  201.641069  757.7  280.802930
2018-01-04  225.306146  718.4  290.492676  204.159410  761.1  282.284366
2018-01-05  218.640007  754.2  293.676947  201.917583  762.4  281.820180
...                ...    ...         ...         ...    ...         ...
2018-12-27  231.563910  911.0  321.704459  196.115382  982.0  274.080060
2018-12-28  171.924813  756.6  236.097794  187.943847  802.0  256.896885
2018-12-29  340.988951  946.0  405.619586  221.332215  799.6  299.339033
2018-12-30  256.269431  899.0  357.891344  202.694910  795.8  292.782125
2018-12-31  256.769687  912.0  349.341581  202.179840  902.0  285.729880

                   To                          RH  ...                   WS  \
                 mean    max       std       mean  ...        std      mean
time                                               ...
2018-01-01  21.073333  27.36  3.582786  32.187431  ...   8.557754  1.876833
2018-01-02  19.813264  25.94  3.333633  35.512986  ...   7.979105  2.001646
2018-01-03  19.910069  26.33  3.823132  38.419931  ...   9.743904  1.763222
2018-01-04  19.705417  26.13  3.367212  38.755625  ...   8.954731  2.016458
2018-01-05  20.782639  27.27  3.476933  39.015347  ...   8.027350  1.749632
...               ...    ...       ...        ...  ...        ...       ...
2018-12-27  20.374861  26.82  3.615005  38.395278  ...   9.449569  1.862326
2018-12-28  19.778750  26.53  3.648793  38.683472  ...   7.925850  1.780937
2018-12-29  20.654167  29.04  4.777380  37.877083  ...  12.643452  1.792576
2018-12-30  20.726944  26.81  3.486617  42.194097  ...   8.074057  1.872069
2018-12-31  20.230903  26.87  3.567663  45.491458  ...  12.107020  1.797708

                                     WD                                P  \
              max       std        mean    max         std          mean
time
2018-01-01  3.945  0.765906  232.879993  357.7  106.965861  87909.729097
2018-01-02  4.425  0.793570  245.576264  359.3   86.087464  87888.903403
2018-01-03  3.793  0.736449  232.080507  359.8  106.384630  87793.584931
2018-01-04  3.910  0.851463  256.483194  355.7   85.764138  87825.970833
2018-01-05  3.332  0.694146  201.385174  359.0  130.364709  87860.551181
...           ...       ...         ...    ...         ...           ...
2018-12-27  3.425  0.820406  228.803736  359.5  113.988614  87352.120069
2018-12-28  3.347  0.808809  240.314889  360.0  119.613623  87485.302292
2018-12-29  3.600  0.811064  257.010472  359.8  101.530953  87510.554444
2018-12-30  4.662  0.935452  238.714799  360.0  112.565978  87447.861181
2018-12-31  3.585  0.754772  229.358931  359.8  121.993627  87494.791181


                 max         std
time
2018-01-01  88171.55  148.822283
2018-01-02  88264.80  224.198724
2018-01-03  88094.58  151.625843
2018-01-04  88099.81  143.339046
2018-01-05  88145.68  142.605596
...              ...         ...
2018-12-27  87548.70  107.846936
2018-12-28  87780.44  125.169137
2018-12-29  87829.45  162.659273
2018-12-30  87719.89  133.022585
2018-12-31  87784.72  129.866102

[365 rows x 21 columns]